-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: sicamet_crm
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bot_config`
--

DROP TABLE IF EXISTS `bot_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_config` (
  `clave` varchar(50) NOT NULL,
  `valor` varchar(500) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_config`
--

LOCK TABLES `bot_config` WRITE;
/*!40000 ALTER TABLE `bot_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_conversaciones`
--

DROP TABLE IF EXISTS `bot_conversaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_conversaciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `rol` enum('user','bot') NOT NULL,
  `mensaje` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_wa` (`cliente_whatsapp`),
  KEY `idx_fecha` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=1388 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_conversaciones`
--

LOCK TABLES `bot_conversaciones` WRITE;
/*!40000 ALTER TABLE `bot_conversaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_conversaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_faq`
--

DROP TABLE IF EXISTS `bot_faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_faq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pregunta` varchar(500) NOT NULL,
  `respuesta` text NOT NULL,
  `activo` tinyint DEFAULT '1',
  `hits` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_faq`
--

LOCK TABLES `bot_faq` WRITE;
/*!40000 ALTER TABLE `bot_faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_mensajes`
--

DROP TABLE IF EXISTS `bot_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_mensajes` (
  `clave` varchar(60) NOT NULL,
  `texto` text NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `activo` tinyint DEFAULT '1',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_mensajes`
--

LOCK TABLES `bot_mensajes` WRITE;
/*!40000 ALTER TABLE `bot_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_nodos`
--

DROP TABLE IF EXISTS `bot_nodos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_nodos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mensaje` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'mensaje',
  `accion` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `media_url` text COLLATE utf8mb4_unicode_ci,
  `media_tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `orden` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_nodos`
--

LOCK TABLES `bot_nodos` WRITE;
/*!40000 ALTER TABLE `bot_nodos` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_nodos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_opciones`
--

DROP TABLE IF EXISTS `bot_opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_opciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nodo_id` int DEFAULT NULL,
  `texto_opcion` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nodo_destino_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `nodo_id` (`nodo_id`),
  CONSTRAINT `bot_opciones_ibfk_1` FOREIGN KEY (`nodo_id`) REFERENCES `bot_nodos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_opciones`
--

LOCK TABLES `bot_opciones` WRITE;
/*!40000 ALTER TABLE `bot_opciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_opciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_ia`
--

DROP TABLE IF EXISTS `cache_ia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_ia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pregunta_hash` varchar(64) NOT NULL,
  `pregunta_texto` text NOT NULL,
  `respuesta` text NOT NULL,
  `hits` int DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pregunta_hash` (`pregunta_hash`),
  KEY `idx_hash` (`pregunta_hash`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_ia`
--

LOCK TABLES `cache_ia` WRITE;
/*!40000 ALTER TABLE `cache_ia` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_ia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_clientes`
--

DROP TABLE IF EXISTS `cat_clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_clientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  `contacto` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=2302 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_clientes`
--

LOCK TABLES `cat_clientes` WRITE;
/*!40000 ALTER TABLE `cat_clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_instrumentos`
--

DROP TABLE IF EXISTS `cat_instrumentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_instrumentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_instrumentos`
--

LOCK TABLES `cat_instrumentos` WRITE;
/*!40000 ALTER TABLE `cat_instrumentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_instrumentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_marcas`
--

DROP TABLE IF EXISTS `cat_marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_marcas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_marcas`
--

LOCK TABLES `cat_marcas` WRITE;
/*!40000 ALTER TABLE `cat_marcas` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_modelos`
--

DROP TABLE IF EXISTS `cat_modelos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_modelos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `marca` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=356 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_modelos`
--

LOCK TABLES `cat_modelos` WRITE;
/*!40000 ALTER TABLE `cat_modelos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_modelos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_leads`
--

DROP TABLE IF EXISTS `chat_leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_leads` (
  `id` int NOT NULL AUTO_INCREMENT,
  `telefono` varchar(50) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `interes` text,
  `estado` enum('Pendiente','Contactado','Convertido') DEFAULT 'Pendiente',
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_leads`
--

LOCK TABLES `chat_leads` WRITE;
/*!40000 ALTER TABLE `chat_leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_mensajes`
--

DROP TABLE IF EXISTS `chat_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_mensajes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `telefono` varchar(50) DEFAULT NULL,
  `direccion` enum('in','out') DEFAULT NULL,
  `mensaje` text,
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tiempo_respuesta_seg` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=424 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_mensajes`
--

LOCK TABLES `chat_mensajes` WRITE;
/*!40000 ALTER TABLE `chat_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotizaciones_bot`
--

DROP TABLE IF EXISTS `cotizaciones_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cotizaciones_bot` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `nombre_empresa` varchar(255) DEFAULT NULL,
  `tipo_equipo` varchar(255) DEFAULT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `identificacion` varchar(255) DEFAULT NULL,
  `rango` varchar(150) DEFAULT NULL,
  `cantidad` int DEFAULT '1',
  `tipo_servicio` enum('in-lab','in-situ','por-definir') DEFAULT 'por-definir',
  `tiempo_entrega` varchar(100) DEFAULT NULL,
  `ubicacion` varchar(255) DEFAULT NULL,
  `notas` text,
  `detalle_instrumentos` json DEFAULT NULL,
  `estatus` enum('nueva','en-proceso','enviada','cerrada') DEFAULT 'nueva',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_whatsapp` (`cliente_whatsapp`),
  KEY `idx_estatus` (`estatus`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizaciones_bot`
--

LOCK TABLES `cotizaciones_bot` WRITE;
/*!40000 ALTER TABLE `cotizaciones_bot` DISABLE KEYS */;
INSERT INTO `cotizaciones_bot` VALUES (1,'sim_1774894871992','vaisallaa','termometro','fluke 1234',NULL,NULL,NULL,4,'in-situ',NULL,NULL,'si me urge para 5 dias',NULL,'cerrada','2026-03-30 18:25:42'),(9,'260700387696726@lid','Prueba lab','Prueba final n├║mero','Telcel 989',NULL,NULL,NULL,1,'por-definir','10 d├¡as h├íbiles',NULL,NULL,'[{\"ubicacion\": \"Almacen\", \"tipoEquipo\": \"Prueba final n├║mero\", \"marcaModelo\": \"Telcel 989\", \"identificacion\": \"123\", \"requerimientos\": \"Si necesito una recarga Telcel de 80┬░c. A 10,20,200\"}]','nueva','2026-03-31 22:43:45');
/*!40000 ALTER TABLE `cotizaciones_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipos_cliente`
--

DROP TABLE IF EXISTS `equipos_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipos_cliente` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `nombre_empresa` varchar(255) DEFAULT NULL,
  `nombre_equipo` varchar(255) NOT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `rango` varchar(150) DEFAULT NULL,
  `ultima_calibracion` date DEFAULT NULL,
  `periodicidad_meses` int DEFAULT '12',
  `proxima_calibracion` date DEFAULT NULL,
  `activo` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_whatsapp` (`cliente_whatsapp`),
  KEY `idx_proxima` (`proxima_calibracion`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipos_cliente`
--

LOCK TABLES `equipos_cliente` WRITE;
/*!40000 ALTER TABLE `equipos_cliente` DISABLE KEYS */;
INSERT INTO `equipos_cliente` VALUES (1,'sim_1774893630807','alvaro','balanza','marca vaisala modelo 1232',NULL,NULL,'2003-03-12',6,'2003-09-11',1,'2026-03-30 18:03:40');
/*!40000 ALTER TABLE `equipos_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `escalados`
--

DROP TABLE IF EXISTS `escalados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `escalados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `motivo` varchar(500) DEFAULT NULL,
  `contexto` text,
  `estatus` enum('pendiente','atendido','resuelto') DEFAULT 'pendiente',
  `agente_asignado` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `resuelto_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_estatus` (`estatus`),
  KEY `idx_whatsapp` (`cliente_whatsapp`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `escalados`
--

LOCK TABLES `escalados` WRITE;
/*!40000 ALTER TABLE `escalados` DISABLE KEYS */;
INSERT INTO `escalados` VALUES (4,'260700387696726@lid','Estatus: orden inexistente (3 intentos)',NULL,'resuelto','CRM Operador','2026-03-31 23:00:50','2026-03-31 23:26:35');
/*!40000 ALTER TABLE `escalados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faq`
--

DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pregunta` varchar(255) DEFAULT NULL,
  `respuesta` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faq`
--

LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrumentos_estatus`
--

DROP TABLE IF EXISTS `instrumentos_estatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrumentos_estatus` (
  `id` int NOT NULL AUTO_INCREMENT,
  `orden_cotizacion` varchar(50) NOT NULL,
  `empresa` varchar(255) DEFAULT NULL,
  `persona` varchar(255) DEFAULT NULL,
  `tipo_servicio` varchar(100) DEFAULT NULL,
  `nombre_instrumento` varchar(255) DEFAULT NULL,
  `marca` varchar(255) DEFAULT NULL,
  `modelo` varchar(255) DEFAULT NULL,
  `no_serie` varchar(255) DEFAULT NULL,
  `sla` int DEFAULT '10',
  `estatus_actual` varchar(50) DEFAULT 'Recepci├│n',
  `fecha_ingreso` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_entrega` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrumentos_estatus`
--

LOCK TABLES `instrumentos_estatus` WRITE;
/*!40000 ALTER TABLE `instrumentos_estatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrumentos_estatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nodos`
--

DROP TABLE IF EXISTS `nodos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nodos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_referencia` varchar(100) DEFAULT NULL,
  `mensaje_texto` text NOT NULL,
  `tipo_nodo` enum('MENU','INFO','RASTREO','FINAL') DEFAULT 'INFO',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nodos`
--

LOCK TABLES `nodos` WRITE;
/*!40000 ALTER TABLE `nodos` DISABLE KEYS */;
/*!40000 ALTER TABLE `nodos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opciones`
--

DROP TABLE IF EXISTS `opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nodo_origen_id` int DEFAULT NULL,
  `entrada_usuario` varchar(50) DEFAULT NULL,
  `nodo_destino_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `nodo_origen_id` (`nodo_origen_id`),
  KEY `nodo_destino_id` (`nodo_destino_id`),
  CONSTRAINT `opciones_ibfk_1` FOREIGN KEY (`nodo_origen_id`) REFERENCES `nodos` (`id`),
  CONSTRAINT `opciones_ibfk_2` FOREIGN KEY (`nodo_destino_id`) REFERENCES `nodos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opciones`
--

LOCK TABLES `opciones` WRITE;
/*!40000 ALTER TABLE `opciones` DISABLE KEYS */;
INSERT INTO `opciones` VALUES (1,1,'1',2),(2,1,'2',3),(3,1,'3',4),(4,1,'4',5);
/*!40000 ALTER TABLE `opciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recordatorios_enviados`
--

DROP TABLE IF EXISTS `recordatorios_enviados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recordatorios_enviados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `equipo_id` int NOT NULL,
  `tipo` enum('30dias','7dias','vencido') NOT NULL,
  `enviado_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_unico` (`equipo_id`,`tipo`),
  CONSTRAINT `recordatorios_enviados_ibfk_1` FOREIGN KEY (`equipo_id`) REFERENCES `equipos_cliente` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recordatorios_enviados`
--

LOCK TABLES `recordatorios_enviados` WRITE;
/*!40000 ALTER TABLE `recordatorios_enviados` DISABLE KEYS */;
/*!40000 ALTER TABLE `recordatorios_enviados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesiones`
--

DROP TABLE IF EXISTS `sesiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesiones` (
  `cliente_whatsapp` varchar(50) NOT NULL,
  `nodo_actual_id` int DEFAULT NULL,
  `bot_activo` tinyint(1) DEFAULT '1',
  `datos_temporales` text,
  `ultima_interaccion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `nombre_cliente` varchar(150) DEFAULT NULL,
  `nombre_empresa` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`cliente_whatsapp`),
  KEY `sesiones_bot_fk` (`nodo_actual_id`),
  CONSTRAINT `sesiones_bot_fk` FOREIGN KEY (`nodo_actual_id`) REFERENCES `bot_nodos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesiones`
--

LOCK TABLES `sesiones` WRITE;
/*!40000 ALTER TABLE `sesiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `rol` enum('admin','recepcionista','operador') DEFAULT 'recepcionista',
  `activo` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Administrador','admin@sicamet.mx','$2b$12$PNCS6sUlGhF6pJTGqP1sx.Kbf5phrbLni/TmRHq0R/KBKQLvXzM.u','admin',1,'2026-03-30 15:04:37'),(2,'alejandra','alejandra@sicamet.mx','$2b$12$ydsol5y4mJo1zkay.DyVI.KY1bson7UfZvGlDflmPLr7wdSxp.X.O','recepcionista',1,'2026-03-30 22:28:10'),(3,'oscar','oscar@sicamet.mx','$2b$12$kszHKmuK39tMmDoC9DTfSORioBCY1poNJL8Sz.VwlFBO6u93Ynn5m','operador',1,'2026-03-30 22:43:06');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whatsapp_chats`
--

DROP TABLE IF EXISTS `whatsapp_chats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `whatsapp_chats` (
  `numero_wa` varchar(50) NOT NULL,
  `nombre_contacto` varchar(255) DEFAULT NULL,
  `foto_url` text,
  `es_favorito` tinyint(1) DEFAULT '0',
  `bot_desactivado` tinyint(1) DEFAULT '0',
  `ultima_actividad` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `telefono_display` varchar(45) DEFAULT NULL,
  `wa_jid` varchar(180) DEFAULT NULL,
  PRIMARY KEY (`numero_wa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whatsapp_chats`
--

LOCK TABLES `whatsapp_chats` WRITE;
/*!40000 ALTER TABLE `whatsapp_chats` DISABLE KEYS */;
/*!40000 ALTER TABLE `whatsapp_chats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whatsapp_mensajes`
--

DROP TABLE IF EXISTS `whatsapp_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `whatsapp_mensajes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_wa` varchar(50) DEFAULT NULL,
  `cuerpo` text,
  `tipo` enum('texto','imagen','archivo') DEFAULT 'texto',
  `url_media` text,
  `direccion` enum('entrante','saliente') DEFAULT NULL,
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `numero_wa` (`numero_wa`)
) ENGINE=InnoDB AUTO_INCREMENT=426 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whatsapp_mensajes`
--

LOCK TABLES `whatsapp_mensajes` WRITE;
/*!40000 ALTER TABLE `whatsapp_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `whatsapp_mensajes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-01  9:16:05
