-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: sicamet_crm
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `sicamet_crm`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `sicamet_crm` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `sicamet_crm`;

--
-- Table structure for table `auditoria_instrumentos`
--

DROP TABLE IF EXISTS `auditoria_instrumentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria_instrumentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `instrumento_id` int NOT NULL,
  `accion` varchar(100) NOT NULL,
  `usuario_id` int DEFAULT NULL,
  `detalles` json DEFAULT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `instrumento_id` (`instrumento_id`),
  KEY `accion` (`accion`),
  KEY `usuario_id` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_instrumentos`
--

LOCK TABLES `auditoria_instrumentos` WRITE;
/*!40000 ALTER TABLE `auditoria_instrumentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria_instrumentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_config`
--

DROP TABLE IF EXISTS `bot_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_config` (
  `clave` varchar(50) NOT NULL,
  `valor` varchar(500) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_config`
--

LOCK TABLES `bot_config` WRITE;
/*!40000 ALTER TABLE `bot_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_conversaciones`
--

DROP TABLE IF EXISTS `bot_conversaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_conversaciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `rol` enum('user','bot') NOT NULL,
  `mensaje` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_wa` (`cliente_whatsapp`),
  KEY `idx_fecha` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2517 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_conversaciones`
--

LOCK TABLES `bot_conversaciones` WRITE;
/*!40000 ALTER TABLE `bot_conversaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_conversaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_faq`
--

DROP TABLE IF EXISTS `bot_faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_faq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pregunta` varchar(500) NOT NULL,
  `respuesta` text NOT NULL,
  `activo` tinyint DEFAULT '1',
  `hits` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_faq`
--

LOCK TABLES `bot_faq` WRITE;
/*!40000 ALTER TABLE `bot_faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_mensajes`
--

DROP TABLE IF EXISTS `bot_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_mensajes` (
  `clave` varchar(60) NOT NULL,
  `texto` text NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `activo` tinyint DEFAULT '1',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_mensajes`
--

LOCK TABLES `bot_mensajes` WRITE;
/*!40000 ALTER TABLE `bot_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_nodos`
--

DROP TABLE IF EXISTS `bot_nodos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_nodos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mensaje` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'mensaje',
  `accion` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `media_url` text COLLATE utf8mb4_unicode_ci,
  `media_tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `orden` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_nodos`
--

LOCK TABLES `bot_nodos` WRITE;
/*!40000 ALTER TABLE `bot_nodos` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_nodos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_opciones`
--

DROP TABLE IF EXISTS `bot_opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_opciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nodo_id` int DEFAULT NULL,
  `texto_opcion` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nodo_destino_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `nodo_id` (`nodo_id`),
  CONSTRAINT `bot_opciones_ibfk_1` FOREIGN KEY (`nodo_id`) REFERENCES `bot_nodos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_opciones`
--

LOCK TABLES `bot_opciones` WRITE;
/*!40000 ALTER TABLE `bot_opciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_opciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_ia`
--

DROP TABLE IF EXISTS `cache_ia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_ia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pregunta_hash` varchar(64) NOT NULL,
  `pregunta_texto` text NOT NULL,
  `respuesta` text NOT NULL,
  `hits` int DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pregunta_hash` (`pregunta_hash`),
  KEY `idx_hash` (`pregunta_hash`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_ia`
--

LOCK TABLES `cache_ia` WRITE;
/*!40000 ALTER TABLE `cache_ia` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_ia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificaciones_bot`
--

DROP TABLE IF EXISTS `calificaciones_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calificaciones_bot` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(50) DEFAULT NULL,
  `nombre_empresa` varchar(200) DEFAULT NULL,
  `telefono_contacto` varchar(30) DEFAULT NULL,
  `etapas` varchar(200) DEFAULT NULL,
  `autoclave` tinyint(1) DEFAULT '0',
  `horno_despirogenizacion` tinyint(1) DEFAULT '0',
  `patrones_carga` int DEFAULT '0',
  `tipo_espacio` varchar(50) DEFAULT NULL,
  `largo` decimal(10,2) DEFAULT NULL,
  `ancho` decimal(10,2) DEFAULT NULL,
  `alto` decimal(10,2) DEFAULT NULL,
  `estatus` enum('nueva','negociando','rechazada','completada') DEFAULT 'nueva',
  `detalle_json` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificaciones_bot`
--

LOCK TABLES `calificaciones_bot` WRITE;
/*!40000 ALTER TABLE `calificaciones_bot` DISABLE KEYS */;
INSERT INTO `calificaciones_bot` VALUES (1,'260700387696726@lid','Nissan','722746393','DQ ÔÇö Calificaci├│n de Dise├▒o, OQ ÔÇö Calificaci├│n de Operaci├│n',1,1,3,'Almac├®n',5.00,3.00,1.00,'nueva',NULL,'2026-04-27 22:03:36','2026-04-27 22:03:36'),(2,'sim_1777332162587','nissan','7225454847','DQ ÔÇö Calificaci├│n de Dise├▒o, OQ ÔÇö Calificaci├│n de Operaci├│n',0,0,0,'Almac├®n',4.00,2.00,3.00,'nueva','{\"rama\": \"mapeo\", \"equipo\": \"almace\"}','2026-04-27 23:24:35','2026-04-27 23:24:35');
/*!40000 ALTER TABLE `calificaciones_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_clientes`
--

DROP TABLE IF EXISTS `cat_clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_clientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  `contacto` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=2302 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_clientes`
--

LOCK TABLES `cat_clientes` WRITE;
/*!40000 ALTER TABLE `cat_clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_instrumentos`
--

DROP TABLE IF EXISTS `cat_instrumentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_instrumentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=271 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_instrumentos`
--

LOCK TABLES `cat_instrumentos` WRITE;
/*!40000 ALTER TABLE `cat_instrumentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_instrumentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_marcas`
--

DROP TABLE IF EXISTS `cat_marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_marcas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_marcas`
--

LOCK TABLES `cat_marcas` WRITE;
/*!40000 ALTER TABLE `cat_marcas` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_modelos`
--

DROP TABLE IF EXISTS `cat_modelos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_modelos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `marca` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=358 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_modelos`
--

LOCK TABLES `cat_modelos` WRITE;
/*!40000 ALTER TABLE `cat_modelos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_modelos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_assignments`
--

DROP TABLE IF EXISTS `chat_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_assignments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_wa` varchar(50) NOT NULL,
  `usuario_id` int NOT NULL,
  `usuario_nombre` varchar(150) NOT NULL,
  `asignado_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_wa` (`numero_wa`),
  KEY `numero_wa_2` (`numero_wa`),
  KEY `usuario_id` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_assignments`
--

LOCK TABLES `chat_assignments` WRITE;
/*!40000 ALTER TABLE `chat_assignments` DISABLE KEYS */;
INSERT INTO `chat_assignments` VALUES (2,'260700387696726',1,'Administrador','2026-04-27 15:40:48');
/*!40000 ALTER TABLE `chat_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_leads`
--

DROP TABLE IF EXISTS `chat_leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_leads` (
  `id` int NOT NULL AUTO_INCREMENT,
  `telefono` varchar(50) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `interes` text,
  `estado` enum('Pendiente','Contactado','Convertido') DEFAULT 'Pendiente',
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_leads`
--

LOCK TABLES `chat_leads` WRITE;
/*!40000 ALTER TABLE `chat_leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_mensajes`
--

DROP TABLE IF EXISTS `chat_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_mensajes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `telefono` varchar(50) DEFAULT NULL,
  `direccion` enum('in','out') DEFAULT NULL,
  `mensaje` text,
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tiempo_respuesta_seg` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=795 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_mensajes`
--

LOCK TABLES `chat_mensajes` WRITE;
/*!40000 ALTER TABLE `chat_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotizaciones_bot`
--

DROP TABLE IF EXISTS `cotizaciones_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cotizaciones_bot` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `nombre_empresa` varchar(255) DEFAULT NULL,
  `tipo_equipo` varchar(255) DEFAULT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `identificacion` varchar(255) DEFAULT NULL,
  `rango` varchar(150) DEFAULT NULL,
  `cantidad` int DEFAULT '1',
  `tipo_servicio` enum('in-lab','in-situ','por-definir') DEFAULT 'por-definir',
  `tiempo_entrega` varchar(100) DEFAULT NULL,
  `ubicacion` varchar(255) DEFAULT NULL,
  `notas` text,
  `detalle_instrumentos` json DEFAULT NULL,
  `estatus` enum('nueva','en-proceso','enviada','cerrada') DEFAULT 'nueva',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_whatsapp` (`cliente_whatsapp`),
  KEY `idx_estatus` (`estatus`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizaciones_bot`
--

LOCK TABLES `cotizaciones_bot` WRITE;
/*!40000 ALTER TABLE `cotizaciones_bot` DISABLE KEYS */;
/*!40000 ALTER TABLE `cotizaciones_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipos_cliente`
--

DROP TABLE IF EXISTS `equipos_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipos_cliente` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `nombre_empresa` varchar(255) DEFAULT NULL,
  `nombre_equipo` varchar(255) NOT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `rango` varchar(150) DEFAULT NULL,
  `ultima_calibracion` date DEFAULT NULL,
  `periodicidad_meses` int DEFAULT '12',
  `proxima_calibracion` date DEFAULT NULL,
  `activo` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_whatsapp` (`cliente_whatsapp`),
  KEY `idx_proxima` (`proxima_calibracion`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipos_cliente`
--

LOCK TABLES `equipos_cliente` WRITE;
/*!40000 ALTER TABLE `equipos_cliente` DISABLE KEYS */;
INSERT INTO `equipos_cliente` VALUES (1,'sim_1774893630807','alvaro','balanza','marca vaisala modelo 1232',NULL,NULL,'2003-03-12',6,'2003-09-11',1,'2026-03-30 18:03:40'),(2,'sim_1777399955388','capymet','nanometro','nose 123',NULL,NULL,NULL,6,NULL,1,'2026-04-28 18:15:23'),(3,'sim_1777401923779','NISSAN','nanometro','nsoe',NULL,NULL,NULL,6,NULL,1,'2026-04-28 18:46:12'),(4,'sim_1777402210408','NISSAN','rgyg','nose',NULL,NULL,'2026-04-28',6,'2026-10-28',1,'2026-04-28 18:51:45');
/*!40000 ALTER TABLE `equipos_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `escalados`
--

DROP TABLE IF EXISTS `escalados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `escalados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(100) NOT NULL,
  `motivo` varchar(500) DEFAULT NULL,
  `contexto` text,
  `estatus` enum('pendiente','atendido','resuelto') DEFAULT 'pendiente',
  `agente_asignado` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `resuelto_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_estatus` (`estatus`),
  KEY `idx_whatsapp` (`cliente_whatsapp`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `escalados`
--

LOCK TABLES `escalados` WRITE;
/*!40000 ALTER TABLE `escalados` DISABLE KEYS */;
/*!40000 ALTER TABLE `escalados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faq`
--

DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pregunta` varchar(255) DEFAULT NULL,
  `respuesta` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faq`
--

LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feedback_bot`
--

DROP TABLE IF EXISTS `feedback_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback_bot` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_wa` varchar(50) NOT NULL,
  `empresa` varchar(255) DEFAULT NULL,
  `mensaje` text NOT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  `leido_admin` tinyint DEFAULT '0',
  `implementado` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `cliente_wa` (`cliente_wa`),
  KEY `leido_admin` (`leido_admin`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feedback_bot`
--

LOCK TABLES `feedback_bot` WRITE;
/*!40000 ALTER TABLE `feedback_bot` DISABLE KEYS */;
INSERT INTO `feedback_bot` VALUES (1,'260700387696726@lid',NULL,'hola que horarios manejan','2026-04-17 15:14:15',1,1),(2,'260700387696726@lid',NULL,'esto es una prueba de sugerencia al bot','2026-04-17 15:18:34',1,1),(3,'sim_1777400272998',NULL,'esto esunas prueba de que debe mejorar el bot le hacen falta decir o escribe finalizar para salir, ya que en algunos mensajes no mencionada nada arregla eso por que el bot asi se confunde','2026-04-28 12:22:06',0,0);
/*!40000 ALTER TABLE `feedback_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrumento_metrologos`
--

DROP TABLE IF EXISTS `instrumento_metrologos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrumento_metrologos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `instrumento_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `estatus` enum('asignado','terminado','correccion') DEFAULT 'asignado',
  `fecha_asignacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_fin` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `instrumento_id` (`instrumento_id`),
  KEY `usuario_id` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrumento_metrologos`
--

LOCK TABLES `instrumento_metrologos` WRITE;
/*!40000 ALTER TABLE `instrumento_metrologos` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrumento_metrologos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrumentos_comentarios`
--

DROP TABLE IF EXISTS `instrumentos_comentarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrumentos_comentarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `instrumento_id` int NOT NULL,
  `usuario_id` int DEFAULT NULL,
  `mensaje` text NOT NULL,
  `tipo` varchar(50) DEFAULT 'interno',
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  `archivo_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `instrumento_id` (`instrumento_id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `instrumentos_comentarios_ibfk_1` FOREIGN KEY (`instrumento_id`) REFERENCES `instrumentos_estatus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instrumentos_comentarios_ibfk_2` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrumentos_comentarios`
--

LOCK TABLES `instrumentos_comentarios` WRITE;
/*!40000 ALTER TABLE `instrumentos_comentarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrumentos_comentarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrumentos_estatus`
--

DROP TABLE IF EXISTS `instrumentos_estatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrumentos_estatus` (
  `id` int NOT NULL AUTO_INCREMENT,
  `orden_cotizacion` varchar(50) NOT NULL,
  `cotizacion_referencia` varchar(50) DEFAULT NULL,
  `fecha_recepcion` varchar(30) DEFAULT NULL,
  `fecha_recepcion_parsed` date DEFAULT NULL,
  `servicio_solicitado` varchar(100) DEFAULT NULL,
  `empresa` varchar(255) DEFAULT NULL,
  `nombre_certificados` varchar(255) DEFAULT NULL,
  `direccion` text,
  `persona` varchar(255) DEFAULT NULL,
  `contacto_email` varchar(255) DEFAULT NULL,
  `tipo_servicio` varchar(100) DEFAULT NULL,
  `nombre_instrumento` varchar(255) DEFAULT NULL,
  `marca` varchar(255) DEFAULT NULL,
  `modelo` varchar(255) DEFAULT NULL,
  `no_serie` varchar(255) DEFAULT NULL,
  `numero_informe` varchar(100) DEFAULT NULL,
  `no_certificado` varchar(50) DEFAULT NULL,
  `rechazos_aseguramiento` int DEFAULT '0',
  `clave` varchar(20) DEFAULT NULL,
  `identificacion` varchar(255) DEFAULT NULL,
  `ubicacion` varchar(255) DEFAULT NULL,
  `requerimientos_especiales` text,
  `puntos_calibrar` text,
  `intervalo_calibracion` text,
  `sla` int DEFAULT '10',
  `area_laboratorio` varchar(100) DEFAULT NULL,
  `metrologo_asignado_id` int DEFAULT NULL,
  `certificado_url` varchar(255) DEFAULT NULL,
  `estatus_actual` varchar(50) DEFAULT 'Recepci├│n',
  `fecha_ingreso` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_entrega` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `numero_informe` (`numero_informe`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrumentos_estatus`
--

LOCK TABLES `instrumentos_estatus` WRITE;
/*!40000 ALTER TABLE `instrumentos_estatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrumentos_estatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrumentos_historial`
--

DROP TABLE IF EXISTS `instrumentos_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrumentos_historial` (
  `id` int NOT NULL AUTO_INCREMENT,
  `instrumento_id` int NOT NULL,
  `usuario_id` int DEFAULT NULL,
  `estatus_anterior` varchar(100) DEFAULT NULL,
  `estatus_nuevo` varchar(100) DEFAULT NULL,
  `comentario` text,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `instrumento_id` (`instrumento_id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `instrumentos_historial_ibfk_1` FOREIGN KEY (`instrumento_id`) REFERENCES `instrumentos_estatus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instrumentos_historial_ibfk_2` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=178 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrumentos_historial`
--

LOCK TABLES `instrumentos_historial` WRITE;
/*!40000 ALTER TABLE `instrumentos_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrumentos_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratorio_areas`
--

DROP TABLE IF EXISTS `laboratorio_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laboratorio_areas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `activa` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratorio_areas`
--

LOCK TABLES `laboratorio_areas` WRITE;
/*!40000 ALTER TABLE `laboratorio_areas` DISABLE KEYS */;
INSERT INTO `laboratorio_areas` VALUES (1,'Temperatura','',1,'2026-04-07 16:39:38'),(2,'Humedad','',1,'2026-04-07 23:03:59'),(3,'Presi├│n','',1,'2026-04-07 23:04:13'),(4,'Volumen','',1,'2026-04-07 23:04:22'),(5,'Optica y Radiaci├│n','',1,'2026-04-07 23:04:34');
/*!40000 ALTER TABLE `laboratorio_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nodos`
--

DROP TABLE IF EXISTS `nodos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nodos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_referencia` varchar(100) DEFAULT NULL,
  `mensaje_texto` text NOT NULL,
  `tipo_nodo` enum('MENU','INFO','RASTREO','FINAL') DEFAULT 'INFO',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nodos`
--

LOCK TABLES `nodos` WRITE;
/*!40000 ALTER TABLE `nodos` DISABLE KEYS */;
/*!40000 ALTER TABLE `nodos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones_globales`
--

DROP TABLE IF EXISTS `notificaciones_globales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificaciones_globales` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `detalle` text,
  `tipo` varchar(50) DEFAULT NULL,
  `ruta` varchar(255) DEFAULT NULL,
  `urgencia` varchar(20) DEFAULT 'media',
  `creador_id` int DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones_globales`
--

LOCK TABLES `notificaciones_globales` WRITE;
/*!40000 ALTER TABLE `notificaciones_globales` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones_globales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones_leidas`
--

DROP TABLE IF EXISTS `notificaciones_leidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificaciones_leidas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notificacion_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `leido_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_notif` (`notificacion_id`,`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones_leidas`
--

LOCK TABLES `notificaciones_leidas` WRITE;
/*!40000 ALTER TABLE `notificaciones_leidas` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones_leidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opciones`
--

DROP TABLE IF EXISTS `opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nodo_origen_id` int DEFAULT NULL,
  `entrada_usuario` varchar(50) DEFAULT NULL,
  `nodo_destino_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `nodo_origen_id` (`nodo_origen_id`),
  KEY `nodo_destino_id` (`nodo_destino_id`),
  CONSTRAINT `opciones_ibfk_1` FOREIGN KEY (`nodo_origen_id`) REFERENCES `nodos` (`id`),
  CONSTRAINT `opciones_ibfk_2` FOREIGN KEY (`nodo_destino_id`) REFERENCES `nodos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opciones`
--

LOCK TABLES `opciones` WRITE;
/*!40000 ALTER TABLE `opciones` DISABLE KEYS */;
INSERT INTO `opciones` VALUES (1,1,'1',2),(2,1,'2',3),(3,1,'3',4),(4,1,'4',5);
/*!40000 ALTER TABLE `opciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rechazos_aseguramiento`
--

DROP TABLE IF EXISTS `rechazos_aseguramiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rechazos_aseguramiento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `instrumento_id` int NOT NULL,
  `usuario_rechaza_id` int NOT NULL,
  `usuario_destino_id` int DEFAULT NULL,
  `motivo` text NOT NULL,
  `fecha_rechazo` datetime DEFAULT CURRENT_TIMESTAMP,
  `estatus_previo` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `instrumento_id` (`instrumento_id`),
  KEY `usuario_rechaza_id` (`usuario_rechaza_id`),
  CONSTRAINT `rechazos_aseguramiento_ibfk_1` FOREIGN KEY (`instrumento_id`) REFERENCES `instrumentos_estatus` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rechazos_aseguramiento`
--

LOCK TABLES `rechazos_aseguramiento` WRITE;
/*!40000 ALTER TABLE `rechazos_aseguramiento` DISABLE KEYS */;
INSERT INTO `rechazos_aseguramiento` VALUES (4,48,8,NULL,'RECHAZO: fdvvwvrevd','2026-04-29 12:56:13','Aseguramiento'),(5,49,8,NULL,'RECHAZO: prueba de rechazo','2026-04-29 14:53:38','Aseguramiento'),(6,49,1,NULL,'Cambio manual a Laboratorio','2026-04-29 15:05:16','Certificaci├│n');
/*!40000 ALTER TABLE `rechazos_aseguramiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recordatorios_enviados`
--

DROP TABLE IF EXISTS `recordatorios_enviados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recordatorios_enviados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `equipo_id` int NOT NULL,
  `tipo` enum('30dias','7dias','vencido') NOT NULL,
  `enviado_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_unico` (`equipo_id`,`tipo`),
  CONSTRAINT `recordatorios_enviados_ibfk_1` FOREIGN KEY (`equipo_id`) REFERENCES `equipos_cliente` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recordatorios_enviados`
--

LOCK TABLES `recordatorios_enviados` WRITE;
/*!40000 ALTER TABLE `recordatorios_enviados` DISABLE KEYS */;
/*!40000 ALTER TABLE `recordatorios_enviados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesiones`
--

DROP TABLE IF EXISTS `sesiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesiones` (
  `cliente_whatsapp` varchar(50) NOT NULL,
  `nodo_actual_id` int DEFAULT NULL,
  `bot_activo` tinyint(1) DEFAULT '1',
  `datos_temporales` text,
  `ultima_interaccion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `nombre_cliente` varchar(150) DEFAULT NULL,
  `nombre_empresa` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`cliente_whatsapp`),
  KEY `sesiones_bot_fk` (`nodo_actual_id`),
  CONSTRAINT `sesiones_bot_fk` FOREIGN KEY (`nodo_actual_id`) REFERENCES `bot_nodos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesiones`
--

LOCK TABLES `sesiones` WRITE;
/*!40000 ALTER TABLE `sesiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `rol` varchar(60) NOT NULL DEFAULT 'recepcionista',
  `area` varchar(100) DEFAULT NULL,
  `es_lider_area` tinyint(1) DEFAULT '0',
  `activo` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `permisos` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_bot`
--

DROP TABLE IF EXISTS `ventas_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_bot` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(50) DEFAULT NULL,
  `nombre_empresa` varchar(200) DEFAULT NULL,
  `telefono_contacto` varchar(30) DEFAULT NULL,
  `descripcion_instrumento` text,
  `estatus` enum('nueva','en-proceso','completada','cerrada') DEFAULT 'nueva',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_bot`
--

LOCK TABLES `ventas_bot` WRITE;
/*!40000 ALTER TABLE `ventas_bot` DISABLE KEYS */;
INSERT INTO `ventas_bot` VALUES (1,'260700387696726@lid','Nissan','828282983','Term├│metro certificado por Ema 16025','nueva','2026-04-27 22:12:13','2026-04-27 22:12:13'),(2,'sim_1777332162587','nisssan','121321325','Termohigr├│metro certificado por ema iso 17025, puntos 20/50/75% HR','en-proceso','2026-04-27 23:28:48','2026-04-29 21:50:24');
/*!40000 ALTER TABLE `ventas_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verificentros_bot`
--

DROP TABLE IF EXISTS `verificentros_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verificentros_bot` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_whatsapp` varchar(50) DEFAULT NULL,
  `nombre_empresa` varchar(200) DEFAULT NULL,
  `telefono_contacto` varchar(30) DEFAULT NULL,
  `num_lineas` int DEFAULT NULL,
  `fuerza` tinyint(1) DEFAULT '0',
  `dimension_req` tinyint(1) DEFAULT '0',
  `velocidad` tinyint(1) DEFAULT '0',
  `estatus` enum('nueva','en-proceso','completada','cerrada') DEFAULT 'nueva',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verificentros_bot`
--

LOCK TABLES `verificentros_bot` WRITE;
/*!40000 ALTER TABLE `verificentros_bot` DISABLE KEYS */;
INSERT INTO `verificentros_bot` VALUES (1,'sim_1777332162587','nissan','1221231321',3,1,0,1,'nueva','2026-04-27 23:26:48','2026-04-27 23:26:48');
/*!40000 ALTER TABLE `verificentros_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whatsapp_chats`
--

DROP TABLE IF EXISTS `whatsapp_chats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `whatsapp_chats` (
  `numero_wa` varchar(50) NOT NULL,
  `nombre_contacto` varchar(255) DEFAULT NULL,
  `foto_url` text,
  `es_favorito` tinyint(1) DEFAULT '0',
  `bot_desactivado` tinyint(1) DEFAULT '0',
  `ultima_actividad` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `telefono_display` varchar(45) DEFAULT NULL,
  `wa_jid` varchar(180) DEFAULT NULL,
  PRIMARY KEY (`numero_wa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whatsapp_chats`
--

LOCK TABLES `whatsapp_chats` WRITE;
/*!40000 ALTER TABLE `whatsapp_chats` DISABLE KEYS */;
/*!40000 ALTER TABLE `whatsapp_chats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whatsapp_mensajes`
--

DROP TABLE IF EXISTS `whatsapp_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `whatsapp_mensajes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_wa` varchar(50) DEFAULT NULL,
  `cuerpo` text,
  `tipo` enum('texto','imagen','archivo') DEFAULT 'texto',
  `url_media` text,
  `direccion` enum('entrante','saliente') DEFAULT NULL,
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `numero_wa` (`numero_wa`)
) ENGINE=InnoDB AUTO_INCREMENT=797 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whatsapp_mensajes`
--

LOCK TABLES `whatsapp_mensajes` WRITE;
/*!40000 ALTER TABLE `whatsapp_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `whatsapp_mensajes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-29 15:53:53
